/* tag */
a {
    color: grey;
}
a:hover {
    color: black;
}

body {
    background-color: #f8f9fa;
    color: grey;
}

footer {
    background-color: #f5f5f5;
}
footer a {
    color: #ffffff;
}

main > .container {
    padding: 10px 15px 0;
}

/* id */
#banners .col {
    margin-top: 10px;
    padding: 0px;
}

#destaques {
    background-image: url("../images/bg-slider-destaque.jpg");
    margin: 10px 0px 0px 0px;
    padding: 0px;
    padding-bottom: 10px;
}
#destaques b {
    color: #ffffff;
}
#destaques p {
    color: #000000;
    font-size: 24px;
}

#navbar {
    padding: 45px 15px 0px;
}

/* class */
.a-overlay {
    width: 150px;
    height: 35px;
}
.a-overlay:hover > i {
    display: block;
}
.a-overlay:hover > span {
    display: none;
}
.a-overlay > i {
    display: none;
}

.card-destaque {
    height: 200px;
    margin: auto;
    margin-left: 20%;
    max-width: 350px;
}
.card-header-destaque {
    border-bottom: none;
    border-right: 1px solid rgba(0,0,0,.125);
    height: 200px;
}

.card-produto {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 300px;
    max-width: 200px;
    text-align: center;
}
.card-header-produto {
    height: 150px;
}

.direitos {
    background-color: #7b7b7b;
}
.direitos img {
    height: 15px;
}

.itens-footer {
    background-color: #9b9b9b;
    color: #ffffff;
}

.newsletter {
    background-color: blue;
    color: white;
}

.menu-footer {
    background-color: #b4b4b4;
    color: #ffffff;
}